body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #88c7ab;
}

main {
    padding: 2em;
    text-align: center;
}
img{
    width: auto;
    height: auto;
    align-items: center;
    position: relative;
}
index.body {
        background-image: url('https://images.unsplash.com/photo-1533484482814-3fe2d922be89?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}